@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div style="text-align:justify" >
    <h3>UIA BACKGROUND</h3>
    <p>Back in 1992, Ukraine International was co-founded as an international carrier of independent Ukraine by the Ukrainian State Association of Civil Aviation and GPA (thereafter AerCap B.V.), the world’s largest aircraft lessor.</p>

    <p>Over the 15-year period, the airline has attracted top class strategic and financial investors. In 1995, the Ukrainian Government shareholding was transferred to the State Property Fund. In 1996, Austrian Airlines and Swissair became shareholders with the European Bank for Reconstruction and Development, EBRD, joining shortly – in 2000.</p>

    <p>Organizational model of a public-private entity empowered UIA to take advantage of the strengths of all shareholders, to seize a vast selection of business opportunities, as well as to adopt best maintenance, operation, service, and management practices of its international partners.</p>

    <p>Initially, UIA was meant to establish non-stop operations between Ukraine and Western Europe and successfully implement the strategy of a point-to-point carrier.</p>

    <p>By its 18th anniversary in 2009, UIA became one of Ukraine`s key aviation market players with 20% business segment. However, further development required the UIA business strategy revision. The latter coincided with the change of the company’s ownership in 2010 and was triggered by international investors’ withdrawal from the equity fueled by the shift in their market strategies in Ukraine and expiration of the EBRD investment conventional participation period.</p>

    <p>Amid challenging operating environment and intense price-based competition, privatization guaranteed the UIA business flexibility and allowed commencing transformation from a point-to-point into a network carrier.</p>

    <p>In 2013, following the business collapse of the main competitor, UIA turned out to be the sole carrier capable of averting market infrastructure collapse. The transition process turned out to be much more dynamic than it had been planned initially. Over twelve months, UIA had to boost operations by doubling fleet and enhancing the team. The latter empowered the airline to resume operations to most destinations “inherited” from the competitor carrier.</p>

    <p>Involuntary expansion jump-started the UIA operations’ optimization and prioritized the development of Ukraine’s transit potential. UIA built up its operations so as to generate and direct transit passenger traffic from the North to the South and from West to the East via its hub, Kiev Boryspil International Airport.</p>

    <p>In 2014, UIA faced the challenge of stabilizing its business amid profound political and economic crisis, devaluation of the national currency, and dramatic decline in effective demand. For the first time ever, UIA had to take drastic contingency measures and optimize its staff, fleet, and route network.</p>

    <p>Meantime, to sustain the business and guarantee passengers the service availability, the UIA Management Team decided to modify the operating model and commence systematically decreasing fares by excluding additional services from the ticket price. Eventually, the latter empowered UIA to offer clients competitive fares and become the world’s first network low-fare carrier.</p>

    <h3>UIA Today</h3>

    <p>Ukraine International is Ukraine’s strategic aviation business. UIA is a low-fare network carrier. Its core businesses are passenger and cargo transportation.</p>

    <p>Ukraine International offers a vast selection of point-to-point and transit travel opportunities. The airline connects Ukraine with 38 countries in Europe, Asia, America, Africa, and the Middle East. The carrier operates 1100 international and domestic flights weekly and provides connections with partner airlines’ services to over 3000 destinations worldwide.</p>

    <p><a href="https://kbp.aero/en/">Kiev Boryspil International Airport, KBP,</a> is the UIA base hub.</p>

    <p>Currently, UIA operates 42 <a href="/ua/en/about/fleet"> aircraft</a>.</p>

    <p>UIA holds a handling network. The latter empowers the carrier to closely monitor service quality, sell handling services to other airlines, and generate more employment opportunities in Ukraine.</p>

    <p>By 2021, UIA plans to actively enhance and renew fleet, expand Eastern and South-eastern route networks, increase frequencies of westbound flights, as well as further develop transit potential of Kiev Boryspil International airport and regional hubs in the cities of Ukraine.</p>
</div>